body {
  background-image: url("../public/img/background.jpg");
  background-repeat: repeat;
  background-size: contain;
  background-size: 100%;
}



.App {
  text-align: center;
  
  margin: 3% auto;
  min-height: 500px;
}