.AuthForm {
  .profile {
    margin: 0 auto;
    text-align: left;
  }
  .AuthFormTbl {
    width: 60%;
    margin: 10% auto;
    input {
      text-align: center;
      margin: 10px;
      border-radius: 4px;
    }
    button {
      margin-top: 20px;
    }
  }

}
