<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ponarenko API CRUD</title>
</head>

<body>
    <h1>Welcome to my <span>Hell</span> API CRUD |\../|</h1>
    <img src="https://miro.medium.com/proxy/0*eoMOYQ14tY2cxwxs.jpg" alt="">
    <a href="/users" class="link">Check Users API</a>
    <br>
    <a href="/tasks" class="link">Check Tasks API</a>


    <style>
        body {
            display: flex;
            width: 500px;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0 auto;
        }
        h1 {
            text-align: center;
        }
        img {
            width: 600px;
            border-radius: 20px;
            
        }
        .link {
            color: green;
            font-size: 18px;
            font-weight: 700;
            text-decoration: none;
            margin-top: 50px;
        }
        .link:hover {
            color: burlywood;
        }
        h1 span {
            color: red;
        }
    </style>
</body>

</html>